@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

* {
  scrollbar-width: thin !important;
  scrollbar-color: transparent !important;
}
